.stock-info-container {
    padding: 16px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

/* 상단 정보 (이름, 코드, 고가, 저가) */
.stock-info-stock-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.stock-info-stock-name {
    font-size: 18px;
    font-weight: bold;
}

.stock-info-stock-ticker {
    font-size: 18px;
    color: #7b7b83;
}

.stock-info-stock-highlow {
    display: flex;
    gap: 12px;
    font-size: 14px;
}

.stock-info-high-price {
    color: red;
    font-weight: bold;
}

.stock-info-low-price {
    color: blue;
    font-weight: bold;
}

/* 가격 + 등락폭 */
.stock-info-stock-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stock-info-stock-price {
    font-size: 16px;
    font-weight: bold;
}

.stock-info-stock-diff {
    font-size: 14px;
}

.text-red {
    color: red;
}

.text-blue {
    color: blue;
}