.header-container {
    padding: 20px 18%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.logo-image {
    width: 120px;
}

.header-container .highlight {
    color: #67D3EC !important;;

}

.nav-menu {
    display: flex;
    gap: 20px;
}

.nav-menu a {
    text-decoration: none;
    font-size: 16px;
    color: #333;
}

.nav-menu a:hover {
    color: #67D3EC;
}

.account-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.notification-icon {
    width: 24px;
    height: 24px;
}

.account-section {
    display: flex;
    align-items: center;
    gap: 10px; /* 아이콘과 버튼 사이 간격 */
    margin-right: 20px; /* 오른쪽 여백 추가 */
}

.notification-icon {
    width: 24px;
}

.account-button {
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
}