/* 홈 컨테이너 */
.home-container {
    padding: 20px 18%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
}

/* 챌린지 섹션 */
.challenge-row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.challenge-card,
.money-card {
    flex: 1;
    width: auto;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
}

.challenge-image {
    width: 120px;
    height: 120px;
}

/* 파킹 통장 안내 섹션 */
.parking-info {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    padding: 15px;
    border-radius: 12px;
    width: auto;
    background-color: #6FC4DA;
}

.parking-image {
    width: 150px;
    height: 150px;
}

.parking-text {
    margin: 20px 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.parking-text-highlight {
    color: #263FBD;
}

.footer-info {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.footer-banner-swiper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.footer-banner-image {
    width: 800px;
    height: auto;
    display: block;
    margin: 0 auto;
}


