.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center; /* 가운데 정렬 */
    width: 100%;
    padding: 0 10px;
}

.arrow-button {
    background-color: transparent;
    border: none;
    font-size: 32px;
    cursor: pointer;
    color: #333;
}

/* 이미지와 텍스트를 묶는 컨테이너 */
.user-content {
    display: flex;
    align-items: center;
    justify-content: center; /* 가운데 정렬 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
    gap: 30px; /* 이미지와 텍스트 간격 */
    width: 90%;
    height: 100px;
    max-width: 1200px; /* 최대 너비 제한 */
}

.profile-image {
    width: 165px;
    height: 165px;
    object-fit: contain;
}

.user-text {
    display: flex;
    flex-direction: column;
    font-size: 30px; /* 기본 글씨 크기 */
    width: 500px;
}

/* 강조된 텍스트 */
.highlight {
    color: #0056b3;
    width: 500px;
    font-weight: bold;
    font-size: 35px;
    margin: 0; /* 마진 제거 */
    padding: 0; /* 패딩 제거 */
}


/* 태그 스타일 */
.user-tags span {
    margin-right: 10px; /* 태그 간격 축소 */
    width: 600px;
    height: 100px;
}