* {
    font-family: "noto sans KR";
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

.analyze-wrap-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* 상단, 중앙, 하단 정렬 */
    height: 100vh;
    text-align: center;
    width: 100%;
}

.analyze-banner-container {
    width: 100vw;
    max-width: 100%;
    height: 250px;
    margin-top: -30px;
    overflow: hidden;
}

.analyze-banner {
    width: 100%;
    height: auto;
    margin-top: -50px;
}

.analyze-test-intro {
    margin: 20px auto;
    max-width: 500px;
}

.analyze-test-title {
    font-size: 36px;
    font-weight: bold;
    margin-top: -70px;
}

.analyze-test-description {
    font-size: 16px;
    line-height: 1.6;
    font-weight: bolder;
    margin-top: -30px;
}

.analyze-test-invite {
    font-size: 16px;
    margin-top: -10px;
    font-weight: bolder;
}

.analyze-test-question {
    font-size: 18px;
    margin-top: 15px;
    font-weight: bolder;
    margin-top: -10px;
}

.analyze-start-button {
    margin-top: -30px;
    width: 300px;
    height: 100px;
    cursor: pointer;
}

.analyze-next-time {
    color: #929292;
    margin-top: 10px;
    cursor: pointer;
}

.analyze-participants {
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    align-items: center;
    gap: 5px; /* 이미지 간격 */
    margin-top: -20px;
}

.analyze-participants img {
    width: 100px;
}

.analyze-participants-text {
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: bold;
}

.analyze-count {
    color: #007aff;
    font-weight: bold;
}
